[Desktop Entry]
Version=1.0
Name=Ryujinx
Type=Application
Icon=io.github.ryubing.Ryujinx
Exec=flatpak run --branch=stable --arch=x86_64 --command=ryujinx-wrapper --env=AVALONIA_GLOBAL_SCALE_FACTOR=2 --file-forwarding io.github.ryubing.Ryujinx @@ %f @@
Comment=A Nintendo Switch Emulator
GenericName=Nintendo Switch Emulator
Terminal=false
Categories=Game;Emulator;
MimeType=application/x-nx-nca;application/x-nx-nro;application/x-nx-nso;application/x-nx-nsp;application/x-nx-xci;
Keywords=Switch;Nintendo;Emulator;
StartupWMClass=Ryujinx
PrefersNonDefaultGPU=true
