spawn-at-startup "hypridle"
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-sh-at-startup "swaybg -i ~/.config/omarchy/current/background -m fill"
spawn-at-startup "swayosd-server"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "brave"
spawn-at-startup "ghostty"
spawn-at-startup "code"
spawn-at-startup "spotify"
