binds {
    Ctrl+Shift+T { spawn "ghostty"; }
    Ctrl+Shift+F { spawn "nautilus"; }
    Ctrl+Shift+B { spawn "brave"; }
    Ctrl+Shift+E { spawn "code"; }
    Ctrl+Shift+P { spawn "keepassxc"; }
    Ctrl+Shift+S { spawn "spotify"; }
    Ctrl+Space   { spawn "walker"; }

    Ctrl+Q       { close-window; }
    Ctrl+Shift+Q { quit; }
    Ctrl+Shift+L { spawn "hyprlock"; }
    Ctrl+Shift+V { toggle-window-floating; }
    Ctrl+Shift+W { spawn-sh "pkill waybar; waybar &"; }

    Super+O repeat=false { toggle-overview; }
    Super+R { switch-preset-column-width; }
    Super+H { focus-column-left; }
    Super+L { focus-column-right; }
    Super+K { focus-window-up; }
    Super+J { focus-window-down; }

    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+0 { focus-workspace 10; }

    Shift+F1  { move-window-to-workspace 1; }
    Shift+F2  { move-window-to-workspace 2; }
    Shift+F3  { move-window-to-workspace 3; }
    Shift+F4  { move-window-to-workspace 4; }
    Shift+F5  { move-window-to-workspace 5; }
    Shift+F6  { move-window-to-workspace 6; }
    Shift+F7  { move-window-to-workspace 7; }
    Shift+F8  { move-window-to-workspace 8; }
    Shift+F9  { move-window-to-workspace 9; }
    Shift+F10 { move-window-to-workspace 10; }

    Super+Minus       { set-column-width "-10%"; }
    Super+Equal       { set-column-width "+10%"; }
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }

    Ctrl+Tab       { focus-column-right-or-first; }
    Ctrl+Shift+Tab { focus-column-left-or-last; }

    Print           { screenshot; }
    Ctrl+Shift+4    { screenshot; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "raise"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "lower"; }
    XF86AudioMute        allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }

    Alt+XF86AudioRaiseVolume { spawn "swayosd-client" "--output-volume" "+1"; }
    Alt+XF86AudioLowerVolume { spawn "swayosd-client" "--output-volume" "-1"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "asdbctl up -s 5 && brightness=$(asdbctl get | awk '{print $2}') && progress=$(awk \"BEGIN{printf \\\"%.2f\\\", $brightness/100}\") && swayosd-client --custom-icon display-brightness-symbolic --custom-progress \"$progress\" --custom-progress-text \"${brightness}%\""; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "asdbctl down -s 5 && brightness=$(asdbctl get | awk '{print $2}') && progress=$(awk \"BEGIN{printf \\\"%.2f\\\", $brightness/100}\") && swayosd-client --custom-icon display-brightness-symbolic --custom-progress \"$progress\" --custom-progress-text \"${brightness}%\""; }
    Alt+XF86MonBrightnessUp   { spawn-sh "asdbctl up -s 1 && brightness=$(asdbctl get | awk '{print $2}') && progress=$(awk \"BEGIN{printf \\\"%.2f\\\", $brightness/100}\") && swayosd-client --custom-icon display-brightness-symbolic --custom-progress \"$progress\" --custom-progress-text \"${brightness}%\""; }
    Alt+XF86MonBrightnessDown { spawn-sh "asdbctl down -s 1 && brightness=$(asdbctl get | awk '{print $2}') && progress=$(awk \"BEGIN{printf \\\"%.2f\\\", $brightness/100}\") && swayosd-client --custom-icon display-brightness-symbolic --custom-progress \"$progress\" --custom-progress-text \"${brightness}%\""; }

    XF86AudioNext  allow-when-locked=true { spawn "swayosd-client" "--playerctl" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "swayosd-client" "--playerctl" "play-pause"; }
    XF86AudioPlay  allow-when-locked=true { spawn "swayosd-client" "--playerctl" "play-pause"; }
    XF86AudioPrev  allow-when-locked=true { spawn "swayosd-client" "--playerctl" "previous"; }
}
