@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Hack Nerd Font";
  font-size: 16px;
}

#workspaces button {
  all: initial;
  min-width: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active,
#workspaces button.active label,
#workspaces button.focused,
#workspaces button.focused label {
  color: @accent;
}

#clock {
  margin-left: 8px;
  margin-right: 12px;
}

#mpris {
  font-size: 12px;
}

tooltip {
  padding: 2px;
}
