* {
  background-color: #1e1e2e;
  color: #cdd6f4;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 10px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-arch {
  font-size: 20px;
  margin-right: 4px;
}

#custom-separator-left {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 4px;
}

#custom-separator-right {
  font-size: 20px;
  margin-left: 4px;
  margin-right: 8px;
}

#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network {
  margin-right: 12px;
  margin-left: 12px;
  font-size: 18px;
}

#clock {
  margin-left: 4px;
}

#mpris {
  font-size: 12px;
}

tooltip {
  padding: 2px;
}
