@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Hack Nerd Font";
  font-size: 16px;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button {
  all: initial;
  min-width: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active,
#workspaces button.active label,
#workspaces button.focused,
#workspaces button.focused label {
  color: @accent;
}

#custom-arch {
  min-width: 12px;
  font-size: 18px;
  margin-right: 12px;
}

#custom-separator-left,
#custom-separator-right {
  min-width: 12px;
  font-size: 18px;
}

#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-brightness {
  min-width: 12px;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 16px;
}

#clock {
  margin-left: 8px;
}

#mpris {
  font-size: 12px;
}

tooltip {
  padding: 2px;
}
