@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Hack Nerd Font Mono';
  font-size: 16px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#workspaces button {
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 10px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active,
#workspaces button.active label,
#workspaces button.focused,
#workspaces button.focused label {
  color: @accent;
}

#custom-arch {
  font-size: 24px;
  margin-right: 4px;
}

#custom-separator-left {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 4px;
}

#custom-separator-right {
  font-size: 20px;
  margin-left: 4px;
  margin-right: 8px;
}

#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-brightness {
  margin-right: 12px;
  margin-left: 12px;
  font-size: 24px;
}

#temperature.cpu {
  margin-left: 4px;
  margin-right: 8px;
  font-size: 16px;
}

#temperature.gpu {
  margin-left: 8px;
  margin-right: 4px;
  font-size: 16px;
}

#clock {
  margin-left: 4px;
}

#mpris {
  font-size: 12px;
}

#mpris.playing {
  color: @accent;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
